<div class="row" style="margin-top: 20px !important">
  <div class='col-sm-12 col-md-5 offset-md-1'>
    <div class="involve-pane">
      <div class="row">
        <h3>Big Ideas</h3>
      </div>
      <div class="row">
        <p>
          Are you intersested in sustainability and energy efficeïncy? Do you believe knowledge can be gained from smart meter outpu
          and comfort measurements through detailed analyses? Do you want to discuss possible graphs, analyses or website
          features?
        </p>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="https://groups.google.com/forum/#!forum/opengrid-private" target="_blank">
            <button type="button" class="btn btn-involve float-right">Join the discussion</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-12 col-md-5'>
    <div class="involve-pane">
      <div class="row">
        <h3>Development</h3>
      </div>
      <div class="row">
        <p>
          Are you a developer with a passion for opensource software? Do you believe data mining, automation and detailed analyses
          can contribute to energy savings? Do you want to contribute to the OpenGrid project by writing new or improving
          existing analyses?
        </p>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="https://github.com/opengridcc/opengrid" target="_blank">
            <button type="button" class="btn btn-involve float-right">Visit GitHub</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 15px !important">
  <div class='col-12 col-md-10 offset-md-1'>
    <div class="involve-pane">
      <div class="row">
        <h3>Share your data</h3>
      </div>
      <div class="row">
        <p>
          Do you have a smart meter at home and do you want to support the project? By sharing your consumption data with us, we can
          better test our analyses. There are two ways for sharing your data. Either create a free account on
          <a href="https://www.energieid.be" target="_blank"> EnergieID </a> and share your data with the OpenGrid integration.
          Or if you have a <a href="https://www.flukso.net" target="_blank"> Flukso meter </a> fill in the OpenGrid form
          by clicking the button below.
        </p>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScaWGmG2EnBNVtF3VDu5gGs4casSDf5CDuKXy1Dx-zMu2p7xg/viewform?embedded=false"
            target="_blank">
            <button type="button" class="btn btn-involve float-right">Share your Flukso data</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>