<div class="row" style="margin-top: 20px !important">
  <div class='col-sm-12 col-md-10 offset-md-1'>
    <div class="about-pane">
      <div class="row">
        <h3>The OpenGrid project</h3>
      </div>
      <div class="row">
        <p>
          OpenGrid is a collaborative project about energy and building data mining and automation. We believe there is a need for
          open source tools to analyse utility data, smart meter output, comfort measurements etc. and to gain knowledge
          from these data streams. This knowledge can then be used to understand consumption patterns, realize energy savings,
          build smart automation applications, enable demand response, ...
        </p>
        <p>
          The project has two main pillars. The first one consists of brainstorming about possible analyses while the second one focusses
          on building a python library providing these analyses in an easy fashion.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 20px !important">
  <div class='col-sm-12 col-md-10 offset-md-1'>
    <div class="about-pane">
      <div class="row">
        <h3>Installation</h3>
      </div>
      <div class="row">
        <handy-syntax-highlighter [language]="'bash'" [content]="'pip install opengrid'"></handy-syntax-highlighter>
      </div>
    </div>
  </div>
</div>