<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a [routerLink]="['home']" class="navbar-brand"><img class="logo" src="./assets/logo/opengrid-logo-white.png"></a>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="true" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['home']" routerLinkActive="active" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['about']" routerLinkActive="active" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['get-involved']" routerLinkActive="active" class="nav-link">Get Involved</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['blog']" routerLinkActive="active" class="nav-link">Blog</a>
      </li>
      <!--li class="nav-item">
        <a [routerLink]="['live']" routerLinkActive="active" class="nav-link">Live</a>
      </li-->
    </ul>
    <div class="my-2 my-lg-0">
      <a href="https://github.com/opengridcc/opengrid" class="btn sign-in btn-outline-info my-2 my-sm-0" style="margin-right: 20px">Github</a>
    </div>
  </div>
</nav>

<div class="row" style="margin-top: 95px !important">

  <router-outlet></router-outlet>

</div>