
.sub-header {
    padding-top: 60px;
    padding-bottom: 40px;
    width: 100%;
    background: #2c3e50 !important;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 1px #d6ac4a;
    position: relative;
    margin-bottom: 30px; 
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
  border: 0.5px solid #2c3e50;
}

.dropdown-toggle {
    background: transparent;
    color: white;
    box-shadow: none;
    outline: 0 none;
    cursor: pointer;
}

.dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    color: #2c3e50;
    text-shadow: none;
    cursor: pointer;
}
.dropdown-item:hover {
    background: #f5f2f0;
    color: #07a;
}
.dropdown-item.active {
    background: #f5f2f0;
    color: #07a;
}

.steps {
    position: absolute;
    bottom: -15px;
    width: 100%;
}

.btn-group > .btn {
    color: #2c3e50;
    background: #f5f2f0;
    border-bottom: 0.5px solid #2c3e50;
    box-shadow: none;
    outline: 0 none;
}
.btn-group > .btn:first-child {
    border-left: 0.5px solid #2c3e50;
}
.btn-group > .btn:last-child {
    border-right: 0.5px solid #2c3e50;
}

.btn-group > .btn.active {
    background: #d6ac4a;
}

tr {
    border-bottom: 0.5px solid slategray;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr:first-child {
    color: #07a !important;
}

table {
    border-collapse: collapse;
    margin:10px;
}

.table-number {
    color: #905;
}

.table-timestamp {
    color: #a67f59;
}

.download-link {
    position: absolute;
    top: 15px;
    right: 20px;
}

.download-link > a {
    cursor: pointer;
    padding-right: 5px;
    color: #2c3e50;
    font-size: 2rem;
}

.download-link > a:hover {
    color: #07a;
}

.description {
    background: #f5f2f0;
    padding: 1em;
    margin: .5em 0;
    color: #2c3e50;
    text-shadow: 0 1px white;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}